<div class="vegetables-body">
  <h1>Vegetables</h1>
  <div class="veg-items-list d-flex justify-content-start flex-wrap">
    <div class="veg-items" *ngFor="let items of items">
      <div class="img-box">
        <img src="{{items.img}}" alt="">
      </div>
      <div class="items-det">
        <h4 class="mt-3">{{items.name}}</h4>
        <div class="price d-flex justify-content-between">
          <label for="">${{items.price}}</label>
          <label for="">Per Kg</label>
        </div>
        <div class="counter d-flex justify-content-around">
          <div class="min-btn" (click)="min($event)"> - </div>
          <input type="text" value="0" min="0" readonly>
          <div class="plus-btn" (click)="plus($event)"> + </div>
        </div>
      </div>
    </div>
  </div>
</div>
