<div class="header-main d-flex align-items-center">
  <div class="header-logo d-flex justify-content-center">
    <div class="header-logo-box ">
      <img src="../../../assets/1x/logo.png" alt="">
    </div>
  </div>
  <div class="header-icons d-flex justify-content-around">
    <div class="nav">
      <a href="javascript:void(0)" routerLink='/home' routerLinkActive="active">HOME</a>
    </div>
    <div class="nav">
      <a href="javascript:void(0)" routerLink='/vegetables' routerLinkActive="active">VEGETABLES</a>
    </div>
    <div class="nav">
      <a href="javascript:void(0)">ORGANIC FOOD</a>
    </div>
    <div class="nav">
      <a href="javascript:void(0)">DRY FRUITS</a>
    </div>
    <div class="nav">
      <a href="javascript:void(0)">SHOP</a>
    </div>
    <div class="nav">
      <a href="javascript:void(0)">FAQ's</a>
    </div>
    <div class="nav">
      <a href="javascript:void(0)">CONTACT US</a>
    </div>
    <div class="profile-and-cart d-flex justify-content-between">
      <div class="profile">
        <img src="../../../assets/1x/profile-icon.png" alt="">
      </div>
      <div class="cart">
        <a href="javascript:void(0)" routerLink='/cart' routerLinkActive="active">
          <img src="../../../assets/1x/cart-icon.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
