/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@font-face {
  font-family: "poppins-bold";
  src: local("Poppins"), url(./assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "poppins-light";
  src: local("Poppins"), url(./assets/fonts/Poppins/Poppins-Light.ttf) format("truetype");
}
body{
  background: #E6FFFC;
}
